<h1>Barbell Goals</h1>
<h3>Back Squat: <%=@path.back_squat%></h3>
<h3> Bench Press: <%=@path.bench_press%></h3>
<h3>Front Squat: <%=@path.front_squat%></h3>
<h3>Clean and Jerk: <%=@path.clean_jerk%></h3>
<h3>Overhead Squat: <%=@path.overhead_squat%></h3>
<h3>Strict Overhead Press: <%=@path.strict_overhead_press%></h3>
<h3>Snatch: <%=@path.snatch%></h3>
